@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

@layer base {
  @font-face {
    font-family: "Exo";
    font-style: normal;
    font-display: swap;
    font-weight: 100 200 300 400 500 600 700 800 900;
    src: url("./Fonts/Exo/Exo-VariableFont_wght.ttf");
  }
}
