@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}
body {
  -webkit-overflow-scrolling: touch;
}

/* Testing for optimization purposes */

* {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

@layer base {
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-display: swap;
    font-weight: 100 200 300 400 500 600 700 800 900;
    src: url('./Fonts/Exo/Exo-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: 'Tektur';
    font-style: normal;
    font-display: swap;
    font-weight: 100 200 300 400 500 600 700 800 900;
    src: url('./Fonts/Tektur/Tektur.ttf');
  }
}

@layer components {
  .section-three-grid > div {
    border-radius: 12px;
  }
  .btn-primary {
    background-color: #1a202c; /* neutral-900 */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem; /* rounded */
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #2d3748; /* slightly lighter shade */
  }

  .ghost-card {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 8px;
  }

  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  .dark .ghost-card {
    background: linear-gradient(90deg, #3a3a3a 25%, #2a2a2a 50%, #3a3a3a 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
  }

  .instagram {
    background: linear-gradient(
      45deg,
      #405de6,
      #5851db,
      #833ab4,
      #c13584,
      #e1306c,
      #fd1d1d
    );
    background-size: 200% 200%;
    animation: instagramBackground 4s ease infinite;
  }

  .instagram:hover {
    animation-duration: 2s;
  }
}

@keyframes instagramBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
